# Cloudinary設定
# Cloudinaryのダッシュボードから取得してください
# https://cloudinary.com/console

# Cloudinary Cloud Name
CLOUDINARY_CLOUD_NAME=ducbz8w43

# Cloudinary API Key
CLOUDINARY_API_KEY=283738676288241

# Cloudinary API Secret
CLOUDINARY_API_SECRET=jCA8LOcy00OT0My8Q_SKw_nhTHQ

# データベース設定
DATABASE_URL=host=postgres user=postgres password=password dbname=sidemenulab port=5432 sslmode=disable TimeZone=Asia/Tokyo

# JWT設定
JWT_SECRET=your-secret-key

# サーバー設定
PORT=8080
